# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore database config file, use the sample on the server
/config/database.yml

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore the public dynamic files
/public/uploads/*
/public/assets
