nav class="navbar navbar-default" role="navigation"
    div class="container"
        div class="navbar-header"
            button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation"
                span class="sr-only" Toggle navigation
                span class="icon-bar"
                span class="icon-bar"
                span class="icon-bar"

            = link_to 'Rails Starter Kit', root_path, class: 'navbar-brand'

        div class="collapse navbar-collapse" id="navigation"
            ul class="nav navbar-nav"
                li class="#{'active' if current_page?('/')}"
                    = link_to 'Home', root_path

            ul class="nav navbar-nav navbar-right"
                - if user_signed_in?
                    li class="#{'active' if current_page?(edit_user_registration_path)}"
                        = link_to 'Profile', edit_user_registration_path
                    li
                        = link_to 'Sign out', destroy_user_session_path, data: { method: :delete }
                - else
                    li class="#{'active' if current_page?(new_user_session_path)}"
                        = link_to 'Sign in', new_user_session_path
                    li class="#{'active' if current_page?(new_user_registration_path)}"
                        = link_to 'Register', new_user_registration_path
