<h1 style="color: #212425; font-family: sans-serif; font-size: 28px; font-weight: 600; letter-spacing: -1px; line-height: 1.1; margin: 0.4em 0 0.8em 0; padding: 0;">
    Hello there
</h1>
<p style="color: #828282; font-family: sans-serif; font-size: 15px; font-weight: normal; line-height: 1.5em; margin: 0; padding: 0 0 1.5em 0;">
    Someones is trying to reach you
</p>

<table style="font-family: sans-serif; font-size: 14px;" border="0" width="100%" cellpadding="8" cellspacing="2">
    <tr bgcolor="#f1f1f1">
        <th width="100" style="text-align: left;">Name:</th>
        <td><%= @form.name %></td>
    </tr>
    <tr>
        <th width="100" style="text-align: left;">Email:</th>
        <td><%= @form.email %></td>
    </tr>
    <tr bgcolor="#f1f1f1">
        <th width="100" style="text-align: left;">Phone:</th>
        <td><%= @form.phone %></td>
    </tr>
    <tr>
        <th width="100" style="padding-top: 5px; text-align: left;" valign="top">Message:</th>
        <td><%= @form.message %></td>
    </tr>
</table>
